

/* Resetting default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Hide horizontal scrollbar */
    scroll-behavior: smooth;
}
/*hide scroll bar button keep scrolling*/
body::-webkit-scrollbar {
    display: none;
}

body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}
/* Styling the video container */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2; /* Ensure video stays behind the content */
}

.video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styling the content */
.content {
    padding-top: 100vh; /* Ensure content starts below the video */
}

/* Styling the container */
.container {
    display: flex;
    background-color: white; /* Set background color */
}

/* Styling the left and right sections */
.left,
.right {
    padding: 20px;
    flex: 1; /* Equal width */
}

.right {
    border-left: 2px dashed black;
}

/* Styling for form elements */
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select {
    width: calc(100% - 10px); /* Adjusted width for form elements */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: slategrey;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: -1;
}

#downButton {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -10%);
    -ms-transform: translate(-50%, -10%);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    z-index:101;
    opacity: 90%;
}
#downArrow {
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    color: lightgray;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    z-index:100;
    opacity: 60%
}

.fade-in-text {
    font-family: Arial;
    font-size: 150px;
    animation: fadeIn 10s;
}

.output-text {
    font-family: Arial, sans-serif;
    color: #4a4d4f;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column; /* Stack left and right sections on small screens */
    }

    .left,
    .right {
        width: 100%;
    }
}

/* Styling the header */
.header {
    background-color: #232323;
    padding: 20px;
    font-family: 'Hubballi', sans-serif; /* Set the font to Huballi or the desired font */
    font-weight: lighter;
    overflow: hidden;
}

    .header h1 {
        margin: 0;
        float: left; /* Ensure the title stays on the left */
        color: white;
        cursor: pointer;
    }

    .header h2 {
        float: right; /* Ensure the "About Us" link stays on the right */
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        padding-right: 15px;
        cursor: pointer;
    }

        .header h2:hover {
            color: #7D7D7D;
        }

        .header h2.split {
            background-color: #04AA6D;
            color: white;
        }


.sticky {
    position: fixed;
    top: 0;
    width: 100%
}
.contentHeader {
    padding: 16px;
}
.sticky + .contentHeader {
    padding-top: 102px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Set the width to 50% of the viewport */
    font-family: Arial, sans-serif; /* Set font family to Arial with fallback to sans-serif */
    font-weight: bold; /* Set font weight to bold */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add box shadow */
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }