/* style.css */

/* Resetting default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Styling the video container */
.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure video stays behind the content */
}

.video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styling the content */
.content {
    padding-top: 100vh; /* Ensure content starts below the video */
}

/* Styling the container */
.container {
    display: flex;
    background-color: white; /* Set background color */
}

/* Styling the left and right sections */
.left,
.right {
    padding: 20px;
    flex: 1; /* Equal width */
}

.right {
    border-left: 2px dashed black;
}

/* Styling for form elements */
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
select {
    width: calc(100% - 10px); /* Adjusted width for form elements */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: slategrey;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column; /* Stack left and right sections on small screens */
    }

    .left,
    .right {
        width: 100%;
    }
}
